.App {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: .5rem;
  padding: 0 1rem .5rem 1rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.text-input {
  width: 90%;
  padding: .5rem;
  outline: none;
  border-radius: .5rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
.input-btn {
  width: 10rem;
  padding: .5rem;
  margin-left: .5rem;
  border-radius: .5rem;
  border: none;
  font-weight: bold;
  background-color: #285ac7;
  color: white;
}
.month-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.month {
  font-size: 1.25rem;
}
.card-wrapper {
  margin-top: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: .75rem;
  box-shadow: 0 .25rem 1rem .25rem rgba(0, 0, 0, 0.151);
}
.month-picker-btn {
  border-radius: .25rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 .05rem .15rem 0rem rgba(0, 0, 0, 0.507);
  border: none;
  background-color: #fff;
}
.month-picker-btn:hover {
  cursor: pointer;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}
.week-card {
  margin: .5rem .5rem 0 0;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  font-weight: bold;
}
.spot-light {
  background-color: #285ac7;
  color: white;
}
.day-of-week {
  font-size: .6rem;
}
.date {
  font-size: .6rem;
}


/* DATE DETAILS & NOTES */
.date-details {
  background-color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 .25rem 1rem .25rem rgba(0, 0, 0, 0.151);
}
.date-details .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-details .wrapper .btn {
  background-color: #28c77d;
  color: white;
  padding: .5rem;
  font-size: .85rem;
  border-radius: .5rem;
}
.btn:hover {
  cursor: pointer;
}
.submit-note {
  background-color: #28c77d;
}
.note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
}
.note-form input, .note-form textarea{
  border: none;
  outline: none;
  background-color: rgba(192, 194, 201, 0.507);
  padding: .5rem;
  font-size: 1rem;
}

/* EVENTS CARD */
.events {
  background-color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 .25rem 1rem .25rem rgba(0, 0, 0, 0.151);
}