.App {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: .5rem;
  padding: 0 1rem .5rem 1rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.text-input {
  width: 90%;
  padding: .5rem;
  outline: none;
  border-radius: .5rem;
  border: none;
  font-size: .85rem;
  background-color: rgb(37, 37, 39);
  color: #fff;
}
.input-btn {
  width: 10rem;
  padding: .5rem;
  margin-left: .5rem;
  border-radius: .5rem;
  border: none;
  font-weight: bold;
  background-color: #285ac7;
  color: white;
}

/* CALENDAR */
.month-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.month {
  font-size: 1.25rem;
}
.card-wrapper {
  margin-top: 1rem;
  color: #fff;
  border-radius: 1rem;
  padding: .75rem;
  box-shadow: 0 .25rem 1rem .25rem rgba(0, 0, 0, 0.151);
  background-color: rgb(37, 37, 39);
}
.month-picker-btn {
  border-radius: .25rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 .05rem .15rem 0rem rgba(0, 0, 0, 0.507);
  border: none;
  background-color: rgb(22, 22, 22);
  color: #fff;
}
.month-picker-btn:hover {
  cursor: pointer;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}
.week-card {
  margin: .5rem .5rem 0 0;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  font-weight: bold;
  position: relative;
  max-width: 2rem;
}


.card-container .calendar-status {
  display: inline-block;
  position: absolute;
  width: .5rem;
  height: .5rem;
  margin-top: .15rem;
  border-radius: 1rem;
  right: .25rem;
  bottom: .5rem;
}

.card-container .personal {
  background-color: rgb(0, 218, 0);
}
.card-container .work {
  background-color: rgb(255, 0, 255);
}
.card-container .errand {
  background-color: rgb(255, 196, 0);
}
.spot-light {
  background-color: #285ac7;
  color: white;
}
.day-of-week {
  font-size: .6rem;
}
.date {
  font-size: .6rem;
}


/* DATE DETAILS & NOTES */
.date-details {
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 .25rem 1rem .25rem rgba(0, 0, 0, 0.151);
  background-color: rgb(37, 37, 39);
  color: #fff;
}
.date-details .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-details .wrapper .btn {
  background-color: #28c77d;
  color: white;
  padding: .5rem;
  font-size: .85rem;
  border-radius: .5rem;
  width: 1rem;
}
.btn:hover {
  cursor: pointer;
}
.submit-note {
  background-color: #28c77d;
  color: white;
  padding: .5rem;
  font-size: .85rem;
  border-radius: .5rem;
}
.note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
}
.note-form input, .note-form textarea{
  border: none;
  outline: none;
  background-color: rgb(22, 22, 22);
  color: #fff;
  padding: .5rem;
  font-size: 1rem;
}

/* EVENTS FEED */
.events {
  background-color: rgb(37, 37, 39);
  color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 .25rem 1rem .25rem rgba(0, 0, 0, 0.151);
}
.notes-details-container {
  margin-top: .75rem;
  background-color: rgb(22, 22, 22);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .5rem;
}
.date-delete-container .delete-btn {
  background-color: rgb(228, 74, 74);
  color: #fff;
  border: none;
  padding: .5rem .5rem .5rem .60rem;
  border-radius: .5rem;
  width: 1.25rem;
  margin-right: .25rem;
}
.title-status-container .feed-status {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  margin-right: .45rem;
  border-radius: 1rem;
}
.title-status-container .personal {
  background-color: rgb(0, 218, 0);
}
.title-status-container .work {
  background-color: rgb(255, 0, 255);
}
.title-status-container .errand {
  background-color: rgb(255, 196, 0);
}
.title-desc {
  display: flex;
  flex-direction: column;
  width: 82%;
}
.title-desc .title {
  font-weight: bold;
}

.title-desc .date {
  font-size: .75rem;
  margin-top: .25rem;  
}
